
body{font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

header{ background-color: #007bff;
    color:#fff;
    padding: 20px;
    text-align: center;
}

h1{
    margin: 0;
}

#perfil, #experiencia, #educacion, #habilidades {
    padding: 20px;
}

#perfil h3, #experiencia h3, #educacion h3, #habilidades h3 {
    color:#007bff;
}

#experiencia ul li::before, #habilidades ul li::before{
    content:".";
    color:#007bff;
}